<div class="moviePage">
  <div class="poster"><img src="http://image.tmdb.org/t/p/w400/{{poster_path}}"></div>
  <div class="info">
    <h2>{{title}} ({{release_date}})</h2>
    <ul class="movieListInfo">
      <li class="movieInfo">
        <div class="movieInfoSpacer1"> <strong>Countries</strong> </div>{{#each production_countries}}
        {{name}}{{" "}}
        {{/each}}
      </li>
      <li class="movieInfo">
        <div class="movieInfoSpacer1"> <strong>Tagline</strong></div>{{tagline}}
      </li>
      <li class="movieInfo">
        <div class="movieInfoSpacer1"> <strong>Genres</strong></div>{{#each genres}}
        {{name}}{{" "}}
        {{/each}}
      </li>
      <li class="movieInfo">
        <div class="movieInfoSpacer1"> <strong>Rating</strong></div>{{vote_average}}
      </li>
      <li class="movieInfo">
        <div class="movieInfoSpacer1"> <strong>Runtime</strong></div>{{runtime}} min
      </li>
      {{!-- <li class="movieInfo">
        <div class="movieInfoSpacer1"> <strong>Prodaction Companies</strong></div>{{#each production_companies}}
        {{name}}{{" "}  }
        {{/each}}
      </li> --}}
    </ul>
    <div class="plot">
      <h3>Overview</h3>
      <p>{{overview}}</p>
    </div>
  </div>
</div>
