{{#each this}}
<li class="review_item">
  <section class="review_content">
    <h3 class="feedback_author">{{author}}</h3>

    {{#if feedbackLength}}
    <p class="feedback_text {{feedbackLength}}">{{smallText}}<span class="hidden_text">{{extendedText}}</span>
      <button class="hidden_textbtn">...more</button>
    </p>
    {{else}}
    <span class="feedback_text">{{smallText}}</span>
    {{/if}}
  </sec>
</li>
{{/each}}
